doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/ejercicio-pug.css")
        title Document
    body 
        header
            h1 PaoloGames 
            a.boton Registro 
        section.intro 
            .intro__imagen: img(src="images/imagen.png", alt="") 
            .intro__contenido 
                h2 Titulo Principal 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa autem natus deleniti quibusdam tempora dolore praesentium obcaecati dicta rem, repellat quasi beatae placeat excepturi iusto! Vitae possimus animi rerum? Porro?
                a.boton Leer Más
                